{% extends "base.html" %}
{% block content %}
    <h2>Access rights</h2><hr>   
    <h3>Add user to course</h3>
    <div class="col-4">
        <form action="{{ url_for('access_levels.grant_access') }}" method="post">
            {{ form.hidden_tag() }}
            <p>
            {{ form.username.label }}<br>
            {{ form.username() }}
            </p>
            <p>
            {{ form.course.label }}<br>
            {{ form.course() }}
            </p>
            <p>{{ form.submit }}</p>
        </form>
    </div>
    <hr> 
    <table border="1">
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th colspan="2">user</th>
                <th colspan="2">category</th>
                <th colspan="2">course</th>
                <th rowspan="2">Delete</th>
            </tr>
            <tr>
                <th>
                    <form action="{{ url_for('access_levels.access_rights') }}" method="POST">
                            <input type="hidden" name="sort_by" value="sort_by_username_asc">
                            <button type="submit">&#8593;</button>
                    </form>
                </th>
                <th>
                    <form action="{{ url_for('access_levels.access_rights') }}" method="POST">
                        <input type="hidden" name="sort_by" value="sort_by_username_desc">
                        <button type="submit">&#8595;</button>
                    </form>
                </th>
                <th>
                    <form action="{{ url_for('access_levels.access_rights') }}" method="POST">
                        <input type="hidden" name="sort_by" value="sort_by_category_asc">
                        <button type="submit">&#8593;</button>
                    </form>
                </th>
                <th>
                    <form action="{{ url_for('access_levels.access_rights') }}" method="POST">
                        <input type="hidden" name="sort_by" value="sort_by_category_desc">
                        <button type="submit">&#8595;</button>
                    </form>
                </th>
                <th>
                    <form action="{{ url_for('access_levels.access_rights') }}" method="POST">
                        <input type="hidden" name="sort_by" value="sort_by_course_asc">
                        <button type="submit">&#8593;</button>
                    </form>
                </th>
                <th>
                    <form action="{{ url_for('access_levels.access_rights') }}" method="POST">
                        <input type="hidden" name="sort_by" value="sort_by_course_desc">
                        <button type="submit">&#8595;</button>
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
            {% set counter = {'counter1': 1} %}
            {% macro increment(dct, key, inc=1)%}
                {% if dct.update({key: dct[key] + inc}) %} {% endif %}
            {% endmacro %}
            {% for access_rights_counter in access_rights %}
                <tr>
                    <td>{{ counter['counter1'] }}</td>
                    <td colspan="2">{{ access_rights_counter.User }}</td>
                    <td colspan="2">{{ access_rights_counter.Category}}</td>
                    <td colspan="2">{{ access_rights_counter.Course }}</td>
                    <td>
                        <form action="{{ url_for('access_levels.delete_a_user_from_a_course') }}" method="POST">
                            <input type="hidden" name="delete_access_rights_id" value="{{ access_rights_counter.Access_rights.id }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {{ increment(counter, 'counter1') }}
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}
