<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Categories</h1><hr>
    <form action="/categories" method="POST">
        <label for="category">Add a category</label>
        <br></br>
        <input type="text" name="category">
        <br></br>
        <button type="submit">Add a category</button>
    </form>
    <br><hr>
    {% for c in categories %}
    <a href="{{ url_for('page', link_path=c.name) }}">{{ c.name }}</a><br>
    <form action="/delete_a_category" method="POST">
    <input type="hidden" name="category_id" value="{{ c.id }}">
    <button type="submit">Delete</button>
    </form>
    <br><br>
    {% endfor %}
    <br>
</body>
</html>