{% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
<a href="/">Return to homepage</a>
<h1>{{ course_name }}</h1>
<h2>{{ lesson_name }}</h2><hr>
<h1>Upload {{ lesson_name }} files</h1>
    <form action={{ url_for('lesson_page', category_name=category_name, course_name=course_name, lesson_name=lesson_name) }} method="POST" enctype="multipart/form-data">
        <label for="user_file">Upload your file</label>
        <br></br>
        <input type="file" name="user_file">
        <br></br>
        <button type="submit">Upload</button>
    </form>
    <br><hr>
    {% for file in files %}
    {% set data_for_delete = file.key + '*' + category_name + '*' + course_name + '*' + lesson_name %}
    {{ file.key }}<form action="/delete" method="POST">
        <input type="hidden" name="key" value="{{ data_for_delete }}">
        <button type="submit">Delete</button>
      </form><form action="/download" method="POST">
        <input type="hidden" name="key" value="{{ file.key }}">
        <button type="submit">Download</button>
      </form>
      {{ file.key | file_type }}
      {% set type_of_file = file.key | file_type %}
      {% if type_of_file in ['video/mp4']  %}
      {% set link = file.bucket_name.name | create_presigned_url(file.key, '3600') %}
      <video controls>
          <source src="{{ link }}" type="{{ type_of_file }}"></video><br>
      {% endif %}      
    <hr>
    {% endfor %}
